<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602135822307-kr31go641sl0b1k0dubeg6154sp294mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602135822307-kr31go641sl0b1k0dubeg6154sp294mu</string>
	<key>API_KEY</key>
	<string>AIzaSyDID05VdO_KLaS1wkezawe0vZQ7BTFCKEk</string>
	<key>GCM_SENDER_ID</key>
	<string>602135822307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>bitwallet-71871</string>
	<key>STORAGE_BUCKET</key>
	<string>bitwallet-71871.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602135822307:ios:bb5471a53b2d24941eead6</string>
</dict>
</plist>